.shop {
  display: block;
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 1px 1px 1px 1px ;
}
#popup{
visibility:hidden;
 display:none;
 width:30%;
 background-color:#BDBDBD;
 position:fixed;
 left:35%;
 top:30%;
 border-radius:10px;
 border:2px solid grey;
 box-shadow:0px 0px 10px 0px grey;
 font-family:helvetica;
}

.proceed{
position: absolute;
    right: 10px;
    top: 5px;
    color: tomato;
    background: content-box;
}
.cancel{
    vertical-align: middle;
    height: 25px;
    cursor: pointer;
    width: 25px;
}
.h1, h1 {
    font-size: 1.5rem;
    color: brown;
}
.tb{
margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.tb thead{
cursor: pointer;
}
.tb thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
.tb thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.tb tbody tr{
    border-bottom: 1px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
}
.tb tbody tr:last-child { 
    border-bottom: none; 
}
.tb tbody tr td {
  text-align: left;
  padding: 12px 30px;
  padding-left: 42px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.wid{
max-width:50px;
word-wrap: break-word;
}

.quant{
    display: flex;
    color: #212121;
    -webkit-align-items: center;
	    width: 180px;
}

.quant-button{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    position:left;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.quant-text{
    border: none;
    width: 15%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center
}
.but2{
  float: right;
cursor: pointer;
    text-transform: uppercase;
    margin-right: 362px;
    background-color: orangered;
        color: black;
    font-weight: bold;
    
}
.but1{
cursor: pointer;
    text-transform: uppercase;
    background-color: white;
        color: black;
    font-weight: bold;
    margin-left: 376px;
}